#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.p-paginator{
  display: flex;
  justify-content: space-between;
}

.page-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.p-paginator-page {
  border-radius: 8px;
  margin: 0 4px;
}

.p-paginator-page.p-highlight {
  background: #6366f1;
  color: white;
}

.p-pagelink{
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin: 1px;
  padding: 1rem 1rem;
  background: white;
  color: #6b7280;
  cursor: pointer;
}

.p-paginator-prev,
.p-paginator-next {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin: 1px;
  padding: 0.5rem 2rem;
  background: white;
  color: #6b7280;
  cursor: pointer;
}

.column-checkbox-header{
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.dropdown-icon{
  cursor: pointer;
  font-size: 0.8rem;
  color: #6c757d;
}

.overlay-div{
  display: flex;
  max-width: 300px;
  flex-direction: column;
  gap: .3rem;
}

.row-input{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}