#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.p-paginator{
  display: flex;
  justify-content: space-between;
}

.page-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.p-paginator-page {
  border-radius: 8px;
  margin: 0 4px;
}

.p-paginator-page.p-highlight {
  background: #6366f1;
  color: white;
}

.p-pagelink{
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin: 1px;
  padding: 1rem 1rem;
  background: white;
  color: #6b7280;
  cursor: pointer;
}

.p-paginator-prev,
.p-paginator-next {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin: 1px;
  padding: 0.5rem 2rem;
  background: white;
  color: #6b7280;
  cursor: pointer;
}

.column-checkbox-header{
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.dropdown-icon{
  cursor: pointer;
  font-size: 0.8rem;
  color: #6c757d;
}

.overlay-div{
  display: flex;
  max-width: 300px;
  flex-direction: column;
  justify-content: space-between;
  gap: .3rem;
}

.overlay-div h1{
    margin: 0%;
    font-size: 1rem;
}
.overlay-div p{
    margin: 0%;
    font-size: .75rem;
}

.row-input{
  width: 60%; 
  max-width: 150px; 
  padding: 0.4rem 0.6rem; 
  border: 2px solid #000;
  border-radius: 8px;
  font-size: 0.9rem;
}

.total-selected-rows{
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.p-overlaypanel {
    margin: 0%;
    min-width: 300px;
    font-size: 1rem;
}

.overlay-div-selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    height: auto;
    margin: 0;
}

.heightt{
    height: 30px;
}